header{
    padding: 10px;
    text-align: center;
    background-color: rgb(95, 95, 192);
}
span{
    text-transform: uppercase;
    align-items: center;
}
body {
    font-family: 'Salsa', 'Roboto' cursive;
    background-color:rgb(253, 255, 255);
}
nav {
    background-color: rgb(241, 226, 255);
}
h2{
    background-color: rgb(252, 67, 67);
    border: 1px rgb(236, 174, 185);
    border-radius: 50%;
}