header{
    padding: 10px;
    text-align: center;
    background-color: rgb(95, 95, 192);
}
span{
    text-transform: uppercase;
    align-items: center;
}
body {
    font-family: 'Salsa', 'Roboto' cursive;
    background-color:rgb(229, 250, 250);
}
nav {
    background-color: rgb(204, 190, 218);
}
h2{
    background-color: rgb(236, 174, 185);
}