main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
h1{
    grid-column: 1/4;
}
.card{
    grid-column: 1/3;
    
}
section{
    pad: 10px;
    border: 1px solid rgb(134, 134, 223)  ;
}
h2{
    text-align: center;
}
.navs {
    display: flex;
    
}
 
a{  
   flex-direction: row;
   flex: 1 1 100%;
   text-align: center; 
}


nav :hover {
    border: 2px solid rgb(245, 240, 240);
}

@media screen and(
    max-width: 576px
)
{
    main{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .card{
        grid-row: 2/3;
    }
    section{
        border: 1px solid rgb(212, 221, 230); 
        align-items: center;
    }
    .navs{
        display: flex;
    }

    a{
        flex-direction: column;
        flex: 1 1 100%;
        text-align: center;
    }
}